DOMAIN=<site-url>
TZ=UTC
RESTART_POLICY=unless-stopped

POSTGRES_IMAGE_TAG=13-alpine
POSTGRES_DATA_PATH=/srv/mattermost/db/var/lib/postgresql/data
POSTGRES_USER=mmuser
POSTGRES_PASSWORD=<mmuser-password>
POSTGRES_DB=mattermost

MATTERMOST_CONFIG_PATH=/srv/mattermost/config
MATTERMOST_DATA_PATH=/srv/mattermost/data
MATTERMOST_LOGS_PATH=/srv/mattermost/logs
MATTERMOST_PLUGINS_PATH=/srv/mattermost/plugins
MATTERMOST_CLIENT_PLUGINS_PATH=/srv/mattermost/client/plugins
MATTERMOST_BLEVE_INDEXES_PATH=/srv/mattermost/bleve-indexes

MM_BLEVESETTINGS_INDEXDIR=/mattermost/bleve-indexes

MATTERMOST_IMAGE=mattermost-team-edition
MATTERMOST_IMAGE_TAG=release-9.5

MATTERMOST_CONTAINER_READONLY=false
APP_PORT=8065

MM_SQLSETTINGS_DRIVERNAME=postgres
MM_SQLSETTINGS_DATASOURCE=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable&connect_timeout=10

## Example settings (any additional setting added here also needs to be introduced in the docker-compose.yml)
MM_SERVICESETTINGS_SITEURL=https://${DOMAIN}